/* Add CSS Styling */

.element-odd {
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    background-color: pink;
}

#element-2 {
    color: blue;
    font-size: 36px;
}

#element-4 {
    background-color: lightgreen;
    font-weight: bold;
}

.adjust-font-size {
    font-size: 24px;
}