/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.btn-one {
    color: white;
    font-weight: bold;
    background-color: black;
}

.btn-two {
    background-color: yellow;
}